<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Company Name:</h1>
    </header>
    <aside>
        <div class="links">
    <h2>Available Forms:</h2>
    <ul>
        <li><a asp-controller="Forms" asp-action="Form1">Form1</a></li>
        <li><a asp-controller="Forms" asp-action="Form2">Form2</a></li>
        <li><a asp-controller="Forms" asp-action="Form3">Form3</a></li>
        <li><a asp-controller="Forms" asp-action="Form4">Form4</a></li>
        <li><a asp-controller="Forms" asp-action="Form5">Form5</a></li>
        <li><a asp-controller="Forms" asp-action="Form7">Form7</a></li>
        <li><a asp-controller="Forms" asp-action="Form9">Form9</a></li>
        <li><a asp-controller="Forms" asp-action="Form12">Form12</a></li>
    </ul>
</div></aside>
    <Main>
        @RenderBody()
    </Main>
        <footer>
            CopyRights To Mohammad - Al-Sallal 
        </footer>
    
</body>
</html>
