<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Company Name:</h1>
    </header>
    <Main>
        @RenderBody()
    </Main>
        <footer>
            CopyRights To Mohammad - Al-Sallal 
        </footer>
    
</body>
</html>
