<center>
    <form method="post">
        <label>User Name:</label>
        <input type="text" name="name" value="@ViewBag.name"><br><br>
        <label>Password:</label>
        <input type="text" name="password" value="@ViewBag.password"><br><br>
        <input type="submit" value="Login"><br><br>
        <label>Status:</label>
        <input type="text" value="@ViewBag.result" disabled>
    </form>
</center>