<center>
    <form method="post">
        <label>Price:</label>
        <input type="text" name="price"><br><br>
        <label>Count:</label>
        <input type="text" name="count"><br><br>
        <input type="submit" value="Next">
    </form>
</center>