<center>
    <form method="post">
        <label>Result:</label>
        <input type="text" value="@TempData["result"]"><br><br>
        <label>Operation 2:</label>
        <input type="text" value="@TempData["b1"]"><br><br>
        <input type="submit" value="Back">
    </form>
</center>