<center>
    <form method="post">
        <label>User Name:</label>
        <input type="text" name="userName"><br><br>
        <label>Product Name:</label>
        <input type="text" name="productName"><br><br>
        <input type="submit" value="Next">
    </form>
</center>