<center>
    <form method="post">
        <label for="Number1">No1</label>
        <input type="text" name="n1" id="Number1" value="0"><br><br>
        <label for="Number2">No2</label>
        <input type="text" name="n2" id="Number2" value="0"><br><br>
        <input type="submit" name="b1" value="MAX">
        <input type="submit" name="b1" value="AVG">
        <input type="submit" name="b1" value="MIN"><br><br>
        <label for="Result">Result</label>
        <input type="text" name="Result" id="Result" disabled value="@ViewBag.result">
    </form>
</center>
