<center>
    <form method="post">
        <label>Number 1:</label>
        <input type="text" name="n1"><br><br>
        <label>Number 2:</label>
        <input type="text" name="n2"><br><br>
        <label>Number 3:</label>
        <input type="text" name="n3"><br><br>
        <input type="submit" value="Max" name="b1">
        <input type="submit" value="Average" name="b1">
    </form>
</center>